<header class="custom-banner">
  <div>
    <a href="https://esante.gouv.fr/">Agence du numérique en santé</a>
    <p class="tagline">Vérification de conformité</p>
  </div>
</header>

<style>
.custom-banner {
  background-color:aliceblue;
  border-bottom:1px solid steelblue;
  padding:1em 1em 0 1em;
}
.custom-banner a {
  font-size:1.25em;
  text-transform:uppercase;
  text-decoration:none;
  letter-spacing:0.1em;
  color:steelblue;
  font-weight:bold;
}
</style>